[settings]
line_length = 79
multi_line_output = 3
include_trailing_comma = True
known_third_party = PIL,astropy,matplotlib,memory_profiler,numba,numpy,pandas,psutil,pygedm,pyinstrument,pytest,scipy,setuptools,termcolor,torch,torchvision